DATABASE_URL="postgresql://mentora:mentora@localhost:5432/mentora_test?schema=public"
NODE_ENV=test
PORT=5001
CLIENT_URL=http://localhost:5173
JWT_SECRET="test-only-secret-do-not-use-in-production-1234567890"
JWT_ACCESS_EXPIRES_IN=15m
